  <nav class="clearfix lighter-gray bg-dark-gray">
  <div class="col-right">
  <% if current_user %>
     <div class= "button"> Welcome, <%= current_user.name %> </div>
       |
      <a href="/signout" class= "button button-nav-dark">Signout</a>
    <% else %>
      <a href="/login" class= "button button-nav-dark">Login</a> |
      <a href="/signup"  class= "button button-nav-dark">Signup</a>
    <% end %>
    </div>
  </nav>
