  <div class="login_bar">
    <% if current_user %>
      Welcome, <%= current_user.name %> | <a href="/signout">Signout</a>

    <% else %>
      <a href="/login">Login</a> | <a href="/signup">Signup</a>
    <% end %>
  </div>
