
<div class="auth-box">
<header class="login-header">Carousel Creator</header>
<form class="login" method="post" action="/login">
  <label>Email:
    <input type="text" name="email">
  </label>
  <label>Password:
   <input type="password" name="password">
  </label>
    <input type="submit" value="login" class="login-submit">
</form>
</div>