
<div class=" bg-lighter-gray clearfix mx-auto mt4 auth-box">
<header class="center p1">Carousel Creator</header>
<form class="login mx-auto" method="post" action="/users">
  <label>Username:
    <input type="text" name="name" class="field-light">
  </label>
  <label>Email:
    <input type="text" name="email" class="field-light">
  </label>
  <label>Password:
   <input type="password" name="password" class="field-light">
  </label>
    <input type="password" name="confirmation" class="mr7 field-light" placeholder="Password Confirmation">
    <input type="submit" value="create" class="right button mb1 mr1">
</form>
</div>