
<div class="sign-up-box">
<header class="login-header">Carousel Creator</header>
<form class="login" method="post" action="/users">
  <label>Username:
    <input type="text" name="name">
  </label>
  <label>Email:
    <input type="text" name="email">
  </label>
  <label>Password:
   <input type="password" name="password">
  </label>
    <input type="password" name="confirmation" class="confirm" placeholder="Password Confirmation">
    <input type="submit" value="create" class="login-submit">
</form>
</div>