
<div>
<%= erb :"photos/_photo_table", locals: {photos: @user.photos}  %>
</div>
<% if current_user and current_user.parameter_key = params[:parameter_key] %>
<%= erb :"photos/_photo_builder" %>
<% end %>
