

.auth-box {
  padding:10px;
  margin:100px auto 0 auto;
  border: 4px solid rgb(216, 216, 242);
  width: 400px;
  border-radius: 2%;
}

.login-header{
  text-align: center;
  padding: 0 auto;
  border-radius: 5px;
}

.login {
  font-size: .625em;
  margin:0 auto;
}

.login label {
  text-align: center;
  display: block;
  margin:10px;
  font-weight: 700;
}

.confirm {
  display: block;
  margin: 0 auto;
}

.login-submit {
  margin-left: 350px;
}