

.auth-box {
  border: 3px solid rgb(84, 81, 98);
  width: 400px;
  border-radius: 1%;
}

.auth-box input {
  padding: .25rem;
  height: 1.5rem;
  font-size: .825rem;
}

.login label {
  text-align: center;
  display: block;
  font-weight: 700;
  font-size: .725rem;
}