
<div class="photo-uploader">
  <form action="/photos" enctype="multipart/form-data" method="post" class="">
    <input name ="photo[image_filename]"type="text" placeholder="filename">
    <input name="photo[image]" type="hidden">
    <input name="photo[image]" type="file">
    <input type="submit" value="upload">
  </form>
</div>